<%- include("header") -%>

<div>

    <div class="box heading">
        <h1>About This Site</h1>
    </div>

    <div class="box about-text">
        <p>Welcome to my daily todo list site! I made this mainly for learning purposes, and right now anybody can add or remove notes, but I plan to push updates to
            make it more like a real web service. Thanks for checking it out!
        </p>
    </div>

</div>

<%- include("footer") -%>
